#asideAddProfil{
    border-bottom: 1px solid rgb(210,210,210);

}

#asideBodyProfil p{

    color:rgb(100,100,100);

}


#asideBodyProfil a{

    text-decoration: none;

}

#asideAddProfil a{

    display: block;

    background-color: rgb(5,141,16);
    border:1px solid white;
    box-shadow:0 0 1px black;
    color:white;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    width: 120px;
    height: 30px;
    line-height: 30px;

    text-align: center;
}

.divContainerProfil{

    -webkit-transition: box-shadow 0.3s;
    display: block;

    border: 1px solid rgb(150,150,150);


    width:100%;

    margin-bottom: 20px;
}

.divContainerProfil:hover{

    -webkit-transition: box-shadow 0.3s;

    -webkit-box-shadow: 0 0 4px rgb(150,150,150);
    -moz-box-shadow: 0 0 4px rgb(150,150,150);
    box-shadow: 0 0 4px rgb(150,150,150);

}

/***/

.divContainerProfil #divTitle{

    background-color: rgb(220,220,220);

    padding: 5px;

}

.divContainerProfil #divNameProfil p{

    text-align: left;

    margin:0;
    padding: 0;

}

#divTitle #nom{ font-size:25px; font-weight: bold; color:rgb(0,98,230); }
#divTitle #prenom{ font-size:20px; }
#divTitle #age{ font-size:15px; }

#divTitle{

    display: flex;
    justify-content: space-between;

}

#divDelProfil{

    margin-top:5px;

}

#divDelProfil a{

    display: block;

    color:red;
    border-radius: 10px;

    width: 120px;
}

#divNameProfil a{

    text-decoration: none;
    color:rgb(0,98,230);
}